[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "layer/meta-altera"]
	path = layer/meta-altera
	url = git://github.com/kraj/meta-altera.git
[submodule "layer/meta-mingw"]
	path = layer/meta-mingw
	url = http://git.yoctoproject.org/cgit.cgi/meta-mingw
[submodule "layer/meta-openembedded"]
	path = layer/meta-openembedded
    url = https://github.com/openembedded/meta-openembedded.git
