[Unit]
Description=EventSensorsService daemon

[Service]
ExecStart=/usr/bin/event_sensors 30000
ExecStop=/usr/bin/killall -s KILL event_sensors

[Install]
WantedBy=basic.target
